@mixin breakpoint-tablet() {
	@media (max-width: $width-tablet) {
		@content;
	}
}

@mixin breakpoint-phone() {
	@media (max-width: $width-mobile) {
		@content;
	}
}

// from https://webaim.org/techniques/css/invisiblecontent/
@mixin sr-only {
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px;
}
