.footer {
	align-items: center;
	background-color: $acadia;
	color: $scotch-mist;
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 100%;

	.footer-logo {
		margin: 50px auto;
	}

	.footer-copyright {
		a {
			color: inherit;
		}
	}

	.footer-links {
		list-style-type: none;
		padding-bottom: 30px;

		li {
			display: inline-block;
		}
	}
}
