@use 'variables';

footer {
  align-items: center;
  background-color: variables.$acadia;
  bottom: 0;
  color: variables.$scotch-mist;
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 20px;
  position: fixed;
  width: 100%;
}
