body {
	background: $silver-tree;
	color: $evergreen;
	font-family: Inter, Tahoma, Geneva, Verdana, sans-serif;
}

main {
	width: 100%;
}

.sr-only {
	@include sr-only;
}

.sr-only-focusable:focus {
	height: auto;
	position: static;
	width: auto;
}

.hero {
	align-items: center;
	background: url('/static/images/backgrounds/background-full-width.svg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;

	.hero-logo {
		margin: 80px auto 30px;
	}

	.hero-content {
		display: flex;
		flex-direction: column;

		h1 {
			color: $white;
			font-family: 'Bebas Neue', sans-serif;
			font-size: 77px;
			margin: 10px auto 30px;
			text-align: center;

			&::before {
				background-color: $white;
				color: $white;
				content: '';
				display: inline-block;
				height: 8px;
				margin-right: 30px;
				vertical-align: middle;
				width: 80px;
			}

			&::after {
				background-color: $white;
				color: $white;
				content: '';
				display: inline-block;
				height: 8px;
				margin-left: 30px;
				vertical-align: middle;
				width: 80px;
			}
		}
	}

	@include breakpoint-tablet {
		background-position: top left;
		background-size: contain;
	}
}

.clickable {
	cursor: pointer;
}

.icon {
	&.visibility-icon {
		align-items: center;
		display: flex;
		height: 92px;
		justify-content: center;
		left: -90px;
		position: absolute;
		top: -50px;
		vertical-align: middle;
		width: 90px;
	}
}
