body {
	background: $silver-tree;
	color: $evergreen;
	font-family: Inter, Tahoma, Geneva, Verdana, sans-serif;
}

main {
	width: 100%;
}

.hero {
	background: url('/static/images/backgrounds/background-full-width.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-size: cover;

	.hero-container {
		align-items: center;
		display: flex;
		justify-content: center;
		min-height: 100vh;
		width: 100%;
	}

	@include breakpoint-tablet {
		background-position: top left;
		background-size: contain;

		.hero-container {
			align-items: flex-start;
			height: auto;
		}
	}
}
