#signup {
  height: 100%;
  width: 100%;

  & .hero-background {
    height: 100vh;
    min-height: 300px;
    position: fixed;
    width: 100%;
    z-index: -1;

    & img {
      height: auto;
      width: 100%;
    }
  }

  & .signup-form {
    height: 50%;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    width: 50%;
  }
}
