$silver-tree: #70bd91;
$acadia: #392f2d;
$bombay: #aeaeae;
$orange-red: #fd4802;
$cognac: #9a360e;
$fire-engine-red: #c52425;
$pastel-magenta: #ff9dbf;
$supernova: #fac900;
$spicy-mustard: #6e5a0d;
$spanish-green: #008a52;
$scotch-mist: #efe9cb;
$nile-blue: #243853;
$black-pearl: #071126;
$turquoise-green: #a0ccb7;
$padua: #b1e3cc;
$vista-blue: #94d1b4;
$evergreen: #003d19;
$blue-zodiac: #0f2552;
$silver-lake-blue: #678cbd;
$black: #000;
$white: #fff;
